@media (max-width: 1100px) {
    #links {
      display: none;
    }
    #burgerBtn {
        display: block;
    }
    #linksResponsive {
        display: flex;
    }
    #logo {
        width: 27vh;
    }
    #questionContainer {
            font-size: 25px;
    }
    #welcomeTxt {
        font-size: 25px;
        min-width: 80vw;
        top: 200px;
    }
}

@media (min-width: 1100px) {
    #timer {
    font-size: 35px;
    padding: 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
}